* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .title {
    font-size: 24px;
}
.header .title a{
    color: #fff;
    text-decoration: none;
}
.header .title a:hover{
    background-color: #4aaaea;
    border-radius: 5px;
}
.header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.navbar {
    justify-content: start;
    align-items: center;
    background-color: rgb(193, 238, 243);
    font-size: large;
    height: 30px;
}

.navbar .menu {
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.navbar .menu:hover {
    background-color: #34495e;
    border-radius: 10px;
}

.content {
    width: 100%;
    margin: 0px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.content h2 {
    text-align: center;
    background-color:#3498db;
    height: 30px;
}

.body {
    flex-grow: 1;
    display: flex;
}

.footer {
    margin-top: auto;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: white;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    th, td {
        display: block;
    }
    th {
        text-align: center;
    }
}
